@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	background-color: $blue-light;
	font-size: 1.6rem;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	max-width: 1200px;
}

:root {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

#root {
	height: 100%;
}
