@import '../../../../styles/variables';

.dropdown {
	position: relative;

	img {
		margin-left: 4px;
		transition: transform 0.2s ease-in-out;
	}

	.dropdownContent {
		margin-top: 0.8rem;
		position: absolute;
		z-index: 100;
		width: 160px;
		border-radius: 0 0 16px 16px;

		background: $blue-primary;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	.dropdownActive {
		transform: rotate(180deg);
	}
	.dropdownActiveMenuBurger {
		transform: rotate(90deg);
	}

	.dropdownContentVisible {
		display: block;
		opacity: 1;
	}
	.dropdownMenuBurger {
		@media (max-width: $breakpoint-md) {
			left: -160px;
			top: 0px;
		}
		@media (max-width: $breakpoint-sm) {
			left: 0px;
		}
	}
}
