.seconbuttons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #747474;
	padding: 1rem;
	cursor: pointer;
	color: #253D48;
	width: 100%;

	background: #ffffff;
	border-radius: 16px;
}
